body{
	background-image: url("http://s20.postimg.org/5gxfptqf1/background_Please_Work_This_Time.jpg");
  background-size: cover;
	position: absolute;
  height: 100%;
  width: 100%;
}

h1 {
    color: #FF8000;
    text-align: center;
    font-family: Copperplate Gothic Bold;
    font-size: 40px;
}

p {
   font-family: Copperplate Gothic Light ;
   color: #1E90FF;
   font-size: 20px;
   text-align: center;
}

b{
   color: #FF5E00;
   font-family: Copperplate Gothic Bold;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

button {
  width: 100px; 
  margin: auto; 
  position: absolute;
  left:0;
  right:0;
  font-size: 55px;
  font-family: Copperplate Gothic Bold;
  color: #FF6600;
  border-radius: 8px;
  background: #FFFFFF; 
}





